




<div class="container">
    <div class="jumbotron">
        <h1 style=" text-align:center">  Featured Products </h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/Shirt_astralProjectRed.png" alt="mug">
                <div class="caption">
                    <h3 style=" color: #f35588;">Astral Projecting Ness</h3>

                    <p> @Html.ActionLink("Buy Now!", "Shirts", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/periSideye.png" alt="mug">
                <div class="caption">
                    <h3 style=" color: #f35588;">Peridot Sticker</h3>

                    <p> @Html.ActionLink("Buy Now!", "Stickers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/R&Bmug.png" alt="mug">
                <div class="caption">
                    <h3 style=" color: #f35588;">Rupphire Mug</h3>

                    <p> @Html.ActionLink("Buy Now!", "Mugs", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/melonTunbler.png" alt="mug">
                    <div class="caption">
                        <h3 style=" color: #f35588;"> Watermelon Tumbler</h3>

                        <p> @Html.ActionLink("Buy Now!", "Tumblers", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


