
@{
    ViewBag.Title = "Products";

}

<div class=" jumbotron">
    <h1 style="text-align:center; color: #71A95A">Products</h1>
</div>


<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/mug.jpg" alt="mug" >
            <div class="caption">
                <h3></h3>

                <p> @Html.ActionLink("Shop Mugs", "Designs", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/5924_NEONPNK_Blank__73507.1567944513.jpg" alt="Tumbler" >
            <div class="caption">
                <h3></h3>

                <p> @Html.ActionLink("Shop Tumblers", "Designs", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/Shirt.jpg" alt="mug">
            <div class="caption">
                <h3></h3>

                <p> @Html.ActionLink("Shop Shirts", "Designs", "Home", new { Style = "font-size:x-large;color:#71A95A;" })  </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/RED&BLUE.png" alt="Purple">
                <div class="caption">
                    <h3>@Html.ActionLink("Shop Stickers", "Designs", "Home", new { Style = "font-size:x-large;color:#71A95A;" }) </h3>

                    <p>  </p>
                </div>
            </div>
        </div>
    </div>
</div>

